* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Bahnschrift Light', sans-serif;
    font-size: 18px;
    font-weight: 200;
}

h1, h2 {
    text-align: center;
    letter-spacing: 0.25rem;
}

.header_wrap {
    margin: 5vh 0;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 10px;
    cursor: pointer;
}

.card p {
    border-radius: 1rem;
    flex-grow: 1;
}