* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Bahnschrift Light', sans-serif;
    font-size: 18px;
    font-weight: 200;
    border: 0;
    transition: background-color 0.5s ease;
}

html, body {
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 12px;
    background: #1B263B;
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
    background: #778DA9;
    border-radius: 1rem;
}

h1, h2 {
    text-align: center;
    letter-spacing: 0.25rem;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.header_wrap {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-wrap h1 {
    text-align: center;
}

.header-btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background: transparent;
}

.github-btn {
    flex-grow: 1;
    background: transparent;
}

.theme-btn img {
    cursor: pointer;
}


.deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 10px;
}

.card p {
    border-radius: 1rem;
    flex-grow: 1;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
