* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', 'Bahnschrift Light', sans-serif;
    font-size: 18px;
    font-weight: 200;
    border: 0;
    transition: background-color 0.5s ease;
}

h1, h2 {
    text-align: center;
    letter-spacing: 0.25rem;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.header_wrap {
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrap h1 {
    text-align: center;
}

.theme-btn {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
}

.theme-btn img {
    z-index: 100;
    cursor: pointer;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 10px;
    cursor: pointer;
}

.card p {
    border-radius: 1rem;
    flex-grow: 1;
    transition: color 0.5s ease, background-color 0.5s ease;
}