* {
    color: #E0E1DD;
    background-color: #0D1B2A;
}

.card {
    border: 2px solid rgb(65, 90, 119);
    box-shadow: 0 0 10px 5px rgba(119, 141, 169, 0.85);
}

.separator {
    border: 2px solid #778DA9;
    border-radius: 1rem;
}

.card p {
    background-color: rgba(9, 14, 23, 0.86);
}

.btn-back svg path, .btn-forward svg path {
    fill: #415A77;
}

.header-btn-wrap svg path {
    fill: #fff;
}

.modal-container, .modal-result-container {
    border: 2px solid rgb(65, 90, 119);
    border-radius: 16px;
}

.ok-modal svg, .ok-result-modal svg {
    border: 2px solid rgb(65, 90, 119);
    fill: #fff;
}

.modal-msg, .modal-result-msg {
    background-color: rgba(9, 14, 23, 0.86);
}