@media screen and (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .card {
        width: 500px;
        min-height: 75vh;
        margin: 1rem;
    }
    .card img {
        width: 100%;
        height: auto;
    }
    .card p {
        padding: 10px;
        height: 15rem;
    }
    .sep-wrap {
        margin: 0.5rem 0;
    }
}