* {
    color: rgb(3, 4, 94);
    background-color: rgb(202, 240, 248);
}

.card {
    border: 2px solid rgb(0, 119, 182);
    box-shadow: 0 0 10px 5px rgba(2, 62, 138, 0.85);
}

.separator {
    border: 2px solid #023E8A;
    border-radius: 1rem;
}

.card p {
    background-color: rgba(246, 241, 232, 0.86);
}

.modal-container {
    border: 1px solid #778DA9;
    border-radius: 16px;
}

.modal-container {
    border: 2px solid rgb(0, 119, 182);
    border-radius: 16px;
}

.ok-modal svg {
    border: 2px solid rgb(65, 90, 119);
}

.modal-msg {
    background-color: rgba(246, 241, 232, 0.86);
}