@media screen and (max-width: 580px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .card {
        width: 275px;
        min-height: 60vh;
        margin: 1rem;
    }
    .card img {
        width: 100%;
        height: auto;
    }
    .card p {
        padding: 5px;
        height: 10rem;
    }
    .sep-wrap {
        margin: 0.25rem 0;
    }
    .theme-btn {
        width: 36px;
        height: 36px;
    }
    .theme-btn img {
        width: 36px;
        height: 36px;
    }
    .btn-back, .btn-forward {
        display: none;
    }
    .btn-back svg, .btn-forward svg {
        width: 36px;
        height: 36px;
        cursor: pointer;
    }

    .header-btn-wrap svg {
        width: 36px;
        height: 36px;
    }

    .modal-container, .modal-result-container {
        width: 275px;
    }

    .ok-modal svg, .ok-result-modal svg {
        width: 96px;
        height: 36px;
    }

    .modal-msg, .modal-result-msg {
        margin: 10px;
        padding: 10px;
    }

    .modal-window, .ok-modal, .modal-result-window, .ok-result-modal{
        border-radius: 16px;
    }
}
